.message {
    padding: 3px 10px;
    background-color: lightgray;
    width: fit-content;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.message-box {
    width: 100%;
    display: flex;
}

.my-message, .message-box.my-message {
    justify-content: end;
}

.name {
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    cursor: pointer;
}

.name:hover {
    text-decoration: underline;
}

.date {
    font-size: 10px;
    text-align: right;
}